.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
}

.burger_open {
    opacity: 1;
    visibility: visible;
}

.burger_cross {
    margin-left: 190px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.cross_img {
    width: 34px;
    height: 34px;
}


.burger-nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}



.burger_logo {
    margin-bottom: 30px;
    padding: 9px 12px 7px 9px;   
    font-size: 30px;
    line-height: 55px;
    background-color: black;
    color: #FFCBDB;
    border-radius: 100px;
}

.burger-nav__link {
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 21px;
    
}

.burger_text {
    margin-top: 70px;
    margin-bottom: 3px;
    opacity: 50%;
}

.burger_contacts {
    font-size: 20px;
    text-decoration: none;
    color: #121212;
}

@media (max-width: 1199px) {
    .nav {
        display: none;
    }

    .module {
        position: relative;
    } 

    .burger-btn {
        position: absolute;
        top: 10px;
        right: 1px;
        z-index: 100;
        display: block;
        width: 36px;
        height: 24px;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .burger__content {
        padding: 30px;
        width: 274px;
        height: 100%;
        background-color: white;
       
        transition: transform 0.3s ease;
    }
}

@media (max-width: 767px) {

    .burger-btn {
        right: 12px;
    }
        
   
 

}