h3 {
  margin-left: 123px;
  margin-bottom: 80px;
  font-size: 55px;
  color: #FFFFFF;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.my_competencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.competencies_wrap {
  width: 570px;
}



.what_competencies {
  margin-bottom: 15px;
  width: 719px;
  font-size: 35px;
  line-height: 46px;
  color: #FFCBDB;
  letter-spacing: -0.03em;
}

.what_competencies::before {
  content: '';
  display: block;
  width: 45px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
}

.html {
  margin-left: 123px;
}

.frameworks {
  margin-left: 123px;
  width: 422px;
}

.mobile {
  width: 567px;
}

.html::before {
  margin-bottom: 12px;
  background-image: url('../resources/html.png');
}

.javascript::before {
  margin-bottom: 16px;
  background-image: url('../resources/JS.png');
}

.frameworks::before {
  margin-bottom: 16px;
  background-image: url('../resources/phone.png');
}

.mobile::before {
  margin-bottom: 16px;
  background-image: url('../resources/neutron.png');
}

.description_competencies {
  margin-bottom: 60px;
  width: 570px;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.base {
  margin-left: 123px;
  width: 535px;
  height: 174px;
}

.language {
  height: 203px;
}

.front {
  margin-left: 123px;
  height: 145px;
}

.last {
  margin-bottom: 150px;
  height: 145px;
}

@media (max-width: 1199px) {
  h3 {
    margin-left: 13px;
    margin-bottom: 60px;
    font-size: 45px;
    line-height: 59px;
  }

  .my_competencies {
    justify-content: flex-start;
    column-gap: 37px;
    
  }

  .what_competencies {
  
    margin-bottom: 13px;
    width: 212px;
    font-size: 28px;
    line-height: 36px;
  }

  .html {
    margin-left: 13px;
  }

  .frameworks {
    margin-left: 13px;
  }

  .competencies_wrap {
    width: 434px;
  }

  .what_competencies::before {
    width: 36px;
    height: 36px;
  }

  .description_competencies {
    margin-bottom: 65px;
    width: 433px;
    height: 161px;
    font-size: 18px;
    
  }

  .base {
    margin-left: 13px;
  }

  .language {
    width: 461px;
    
  }

  .front {
    margin-left: 13px;
  }

  .frameworks {
    margin-bottom: 46px;
    width: 342px;

  }

  .mobile {
    margin-bottom: 16px;
    width: 459px;
  }

}
@media (max-width: 767px) {
  h3 {

    margin-bottom: 60px;
    font-size: 40px;
    line-height: 59px;
  }

  .what_competencies {
    margin-bottom: 15px;
    width: 362px;
    font-size: 28px;
    line-height: 36px;
  }

  .description_competencies {
    margin-bottom: 60px;
    width: 349px;
    height: auto;
    font-size: 18px;
    
  }



}
