.block_contacts {
  border-radius: 30px;
  background-color: #191C19;
}

.row {
  display: flex;
  position: relative;
}


h5 {
  margin: 100px auto 60px 122px;
  width: 553px;
  height: 180px;
  font-size: 60px;
  color: #FFFFFF;
  letter-spacing: -0.03em;
  line-height: 60px;
}

.contacts_input {
  position: absolute;
  top: 340px;
  left: 125px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.input {
  padding-left: 40px;
  width: 567px;
  height: 60px;
  background-color: #3B3D3B;
  color: #FFFFFF;
  font-size: 22px;
  border-radius: 1000px;
  border: none;
}

.input::placeholder {
  color: #FFFFFF;
}

.contacts_send-btn {
  position: absolute;
  top: 565px;
  left: 145px;
  width: 450px;
  height: 70px;
  font-size: 22px;
  border-radius: 10px;
  background-color: #FFCBDB;
  cursor: pointer;
}


