.fresh_projects {
  color: #FFFFFF;
}

h2 {
  margin-left: 120px;
  margin-bottom: 40px;
  padding-top: 150px;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  
}

.projects {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
  width: 1150px;
  height: 550px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

/* Картинка и градиент — только здесь */
.projects-image {
  position: absolute;
  inset: 0; /* то же самое, что top/right/bottom/left: 0 */
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.Metrica .projects-image {
  background-image:  linear-gradient(
      to bottom,
      transparent 60%,
      rgba(0, 0, 0, 0.8) 100%
    ), 
    url('../resources/метрика.png');
  background-size: cover;
  background-position: center;
 
}

.presentation .projects-image {
  background-image:
    linear-gradient(
      to bottom,
      transparent 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('../resources/expenses.png');
  background-size: cover;
  background-position: center;

}

.order .projects-image {
  background-image:  linear-gradient(
      to bottom,
      transparent 60%,
      rgba(0, 0, 0, 0.8) 100%
    ), url('../resources/order.png');
  background-size: cover;
  background-position: center;

}

.projects-content {
  position: relative;
  z-index: 2; /* текст будет выше картинки и градиента */
  padding: 50px 50px ; /* вместо жёстких margin-bottom */
  display: flex;
  flex-direction: column;
  height: 100%;
}


.view_all_projects {
  margin-top: 80px;
  margin-left: 50px; /* лучше не ставить огромные margin-left в пикселях */
  width: fit-content;
  max-width: 100%;
  padding: 24px 48px;
  height: auto;
  background-color: #FFCBDB;
  font-size: 30px;
  border-radius: 10px;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.view_all_projects:hover {
  background-color: #000;
  color: #FFCBDB;
  border: 1px solid #FFCBDB;
}

@media (max-width: 1199px) {

  h2 {
    margin-left: 10px;
    margin-bottom: 53px;
    font-size: 45px;
    line-height: 59px;
  }

  .projects {
    margin: 0 auto;
    width: 930px;
    height: 445px;
  }


  .view_all_projects {
    margin-top: 64px;
    margin-left: 15px;
    width: 460px;
    height: 124px;
    background-color: #FFCBDB;
    color: #000;
    font-size: 24px;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  h2 {
    margin-left: 11px;
    margin-bottom: 34px;
    padding-top: 100px;
    font-size: 30px;
    line-height: 78px;
  }

 .projects {
    width: 350px;
    height: 445px;
  }

 .Metrica .projects-image {
    background-image: 
    linear-gradient(
        to bottom,
        transparent 60%,
        rgba(0, 0, 0, 0.8) 100%
      ),
    url('../resources/metrika_mobile.png');
    background-size: cover;
    background-position: center;
    
  }

  .presentation .projects-image {
    background-image:
      linear-gradient(
        to bottom,
        transparent 60%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../resources/expenses_mobile.png');
    background-size: cover;
    background-position: center;
  }

  .order .projects-image {
    background-image: 
    linear-gradient(
        to bottom,
        transparent 60%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../resources/order_mobile.png');
    background-size: cover;
    background-position: center;
  }


  .view_all_projects {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 350px;
    height: 80px;
    font-size: 18px;
    border-radius: 8px;
  }


}