.block_services {
  margin-left: 125px;
  width: 100%;
}

h4 {
  margin-bottom: 80px;
  height: 92px;
  width: 403px;
  font-size: 35px;
  color: #FFFFFF;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.text_background_black {
  padding-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 1150px;
  height: 283px;
  background-color: #191C19;
  letter-spacing: -0.03em;
  border-radius: 30px;
}

.mobiles {
  margin-bottom: 150px;
}

.service_title {
  margin-left: 40px;
  width: 470px;
  font-size: 55px;
  line-height: 72px;
  color: #FFCBDB;
}

.explanation {
  margin-left: 40px;
  width: 525px;
  height: 174px;
  font-size: 22px;
  line-height: 1.3;
  color: #FFFFFF;
}

@media (max-width: 1199px) {

  .block_services {
    margin-left: 15px;
  }

  h4 {
    margin-bottom: 60px;
    height: 74px;
    width: 326px;
    font-size: 28px;
  }

  .text_background_black {
    margin-bottom: 32px;
    padding-top: 32px;
    width: 930px;
    height: 229px;
  }

  .mobiles {
    margin-bottom: 110px;
  }

  .service_title {
    margin-left: 32px;
    width: 380px;
    font-size: 45px;
    line-height: 52px;
  }

  .explanation {
    margin-left: 32px;
    width: 425px;
    font-size: 18px;
    line-height: 1.3;
    color: #FFFFFF;
  }

}