@import "../styles/nav.css";
@import "../styles/projects.css";
@import "../styles/competencies.css";
@import "../styles/services.css";
@import "../styles/contacts.css";
@import "../styles/white-lastblock.css";
@import "../styles/burger.css";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: #f5f5f5;
}

.module {
  margin: 0 auto;
  width: 1400px;
  background: black;
}

@media (max-width: 1199px) {
  .module {
    width: 100%;
  }
}
