.white_block {
  height: 226px;
  border-radius: 30px 30px 0 0;
  background-color: #FFFFFF;
}

.white_block-portfolio {
  margin-left: 125px;
  margin-bottom: 66px;
  padding-top: 76px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.rights {
  margin-left: 125px;
  height: 37px;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  opacity: 50%;
}